# System files
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# Hidden files and folders
.android/
.conda/
.m2/
AppData/
ntuser*

# Node modules and dependencies
node_modules/

# IDE and editor files
.vscode/
*.log
